<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

<meta property="og:url" content="{{ page.url | absolute_url }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{% if page.summary %}{{ page.summary }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:site_name" content="{{ site.title }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ page.url | absolute_url }}">
<meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
<meta name="twitter:description" content="{% if page.summary %}{{ page.summary }}{% else %}{{ site.description }}{% endif %}">

{% if page.coverPhoto %}
  <meta property="og:image" content="{{ site.baseurl | prepend: site.url }}{{ site.images }}{{ page.coverPhoto }}">
  <meta property="og:image:secure_url" content="{{ site.baseurl | prepend: site.url }}{{ site.images }}{{ page.coverPhoto }}">
  <meta name="twitter:image" content="{{ site.baseurl | prepend: site.url }}{{ site.images }}{{ page.coverPhoto }}">
{% elsif site.defaultSocialMediaImage %}
  <meta property="og:image" content="{{ site.baseurl | prepend: site.url }}{{ site.images }}{{ site.defaultSocialMediaImage }}">
  <meta property="og:image:secure_url" content="{{ site.baseurl | prepend: site.url }}{{ site.images }}{{ site.defaultSocialMediaImage }}">
  <meta name="twitter:image" content="{{ site.baseurl | prepend: site.url }}{{ site.images }}{{ site.defaultSocialMediaImage }}">
{% endif %}

<meta name="og:image:alt" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">
<meta name="twitter:image:alt" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}">

<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />

<link rel="icon" href="/favicon.ico" sizes="32x32">
<link rel="icon" href="/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<noscript><link rel="stylesheet" href="{{ "assets/css/noscript.css" | relative_url }}" /></noscript>
