<section id="thumbnails">
  {% for photo in page.photos %}
    <article>
      <a class="thumbnail" href="{{ site.baseurl }}{{ site.images }}{{ photo[0] }}" data-position="left center"><img src="{{ site.baseurl }}{{ site.thumbs }}{{ photo[0] }}" alt="{{ photo[1].title }}" /></a>
      <h2>{{ photo[1].title }}</h2>
      <p>
        {{ photo[1].description }}
        <br>
        <a href="{{ site.baseurl }}{{ site.images }}{{ photo[0] }}" target="_blank">Full image</a>
      </p>
    </article>
  {% endfor %}
</section>
