<header id="header">
  <p><a href="{{ site.url }}/">Back to GALLERY LIST <i class="fas fa-home"></i></a><p>
  <p>
    {% if page.next.url %}
      <a href="{{ page.next.url | relative_url }}">{{ page.next.title }} <i class="fas fa-arrow-circle-left"></i></a>
    {% endif %}
    {% if page.next.url && page.previous.url %}
      <br>
    {% endif %}
    {% if page.previous.url %}
      <a href="{{ page.previous.url | relative_url }}">{{ page.previous.title }} <i class="fas fa-arrow-circle-right"></i></a>
    {% endif %}
  </p>

  <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
  {{ content }}
  <ul class="icons">
    {% if site.socialMedia %}
      {% for socialMedium in site.socialMedia %}
        {% if socialMedium[1].url %}
          <li><a href="{{ socialMedium[1].url }}" class="icon {{ socialMedium[1].icon }}" target="_blank"><span class="label">{{ socialMedium[0] }}</span></a></li>
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul>
</header>
